.product_alone .product_info {
  display: flex;
  flex-direction: column;
  position: unset;
  padding: 16px 0 0;
  background: unset;
  border-top: 2px solid #3c1212;
  justify-content: space-between;
}
.product_alone .add-to-cart-btn {
  width: 100%;
}
/* .product_grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px; 
  margin: 20px;
}
.product_card {
  border: 1px dashed #ccc;
  padding: 16px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
} */
.product_alone img {
  width: 100%;
}
ul.product_grid {
  padding: 0;
  margin: 0;
}
.product-swiper-container {
  overflow: hidden;
}
.img_btn_wrap {
  position: relative;
  line-height: 0;
  padding-bottom: 22px;
}
.img_hover_btn_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  backdrop-filter: blur(3px);
}
.img_hover_btn {
  position: absolute;
  display: flex;
  gap: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img_hover_btn span {
  border: 2px solid #3c1212;
  border-radius: 5px;
  padding: 11px;
  line-height: 0;
  background: white;
  cursor: pointer;
}
.img_hover_btn_bg {
  display: none;
}
.img_btn_wrap:hover .img_hover_btn_bg {
  display: flex;
}
.img_btn_wrap:hover .img_product {
  border: 3px solid black;
}
.best_seller .swiper-button-prev,
.best_seller .swiper-button-next {
  margin-top: 0;
}
.best_seller .add-to-cart-btn {
  width: 100%;
  padding: 16px 0;
}
/* .img_btn_wrap:hover .img_div .img_product{
  border: 3px solid black;
} */
.best_seller .wrap_text_arrow{
  align-items: center;
}
.img_div {
    position: relative;
    padding-bottom: 119.325%;
}
.img_product {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}
.product_alone{
  width: 100%;
}
@media (max-width: 639px){
  .product-swiper-container{
    margin: 0 -16px 0 0;
  }
  .img_btn_wrap{
        padding-bottom: 8px;
  }
  .best_seller .add-to-cart-btn {
    padding: 10px 0;
}
}
@media (max-width: 991px){

.best_seller .wrap_text_arrow {
    align-items: unset;
}
}