.read-more-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.news-item1 {
  grid-row: span 3;
  flex-direction: column;
  border-right: 1px solid black;
}
.news-items {
  display: flex;
  border-bottom: 1px solid black;
  padding: 32px 45px;
}
.news-heading {
  font-family: ClashDisplay-Regular;
  font-size: 40px;
  font-weight: 500;
  line-height: 49.2px;
  text-transform: uppercase;
  margin: 0;
}
.news-fig {
  margin: 0;
  position: relative;
  padding-bottom: 50%;
  width: 100%;
}
.news-item1 .news-fig {
  margin: 0;
  position: relative;
  padding-bottom: 54.723%;
  max-width: 744px;
  width: 100%;
}
.news-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}
.news-content {
  margin: 16px 0 23px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  text-transform: capitalize;
}
.read-news-btn {
  display: inline-block;
  font-family: ClashDisplay-Regular;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.6px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2E2C2A;
}
.news-item1 .read-news-btn{
  margin-top: 24px; 
}
.news-info-div{
  padding: 24px 0;
}